body {
    font-family: 'Arial', sans-serif;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #282c36;
    color: white;

}

#player {
    padding: 30px;
    background-color: #3f4652;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0,0,0, 0.2);

}

h2 {
    text-align: center;
    margin-bottom: 20px;

}


.upload {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;

}

.upload input[type="file"] {
    display: none;
}

.upload label {
    display: block;
    background-color: #5a65ff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}


.upload label:hover {
    background-color: #4951ff;

}


audio {
    width: 100%;
}



