body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(0, 0,0, 0.2);
    text-align: center;
}


h1 {
    color: #333;

}

.task-form{
    margin-bottom: 20px;
}


#task-input {
    width: 70%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 10px;
}


#add-task-btn {
    padding: 8px 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}


ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 10px;
    margin: 10px 0;
    border-radius: 3px;
}


.complete {
    text-decoration: line-through;
    color: #ccc;

}


.delete-btn {
    background-color: #ff3636;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}